.sectionContentCode{
    display: flex;
    justify-content: space-around;
    height: 92%;
}

.pieContainer{
    padding-top: 10%;
    width: 100%;
    height: 100%;
}

.subSectionContainer{
    width: 45%;
    height: 100%;
}

.codeSubSection{
    text-align: center;
}

@media (max-width: 700px) {
    .sectionContentCode{
        display: block;
    }
    .pieContainer{
        padding-top: 0px;
    }
    .subSectionContainer{
        width: 100%;
        height: 45%;
    }
    .codeSubSection{
        margin: 1px;
    }
}