.sectionContentCode{
    display: flex;
    justify-content: space-around;
    height: 88%;
}

.pieContainer{
    width: 100%;
    height: 100%;
}

.subSectionContainer{
    width: 45%;
    height: 100%;
}

.codeSubSection{
    margin: 2;
    text-align: center;
}


@media (max-width: 700px) {
    .sectionContentCode{
        display: block;
    }

    .subSectionContainer{
        width: 100%;
        height: 45%;
    }
}