@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.profileImg {
    border-radius: 50%;
    height: 100%;
    border: 7px solid #D0A310;
}

.headerSection{
    height: 30%;
    margin: 3%;
    display: flex;
    justify-content: center;
}

.profileName{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 30px;
    margin-block-start: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sectionContent{
    display: flex;
    justify-content: space-around;
    height: 63%;
}

.subSectionTitleContainer{
    display: flex;
    justify-content: center;
}

.subSectionContent{
    display: flex;
    justify-content: space-around;
}

.subSection{
    width: 40%;
}

.bigNumeber{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 5rem;
}

.bigNumeberText{
    display: flex;
    justify-content: center;
    text-align: center;
}

.footerContent{
    display: flex;
    justify-content: space-around;
    margin-top: -2%;
    padding: 15px;
    background-color: white;
}

.space{
    width: 45%;
}

.nextSectionButton{
    width: 45%;
}

@media (max-width: 700px) {
    h2 {
        font-size: 1em;
    }
    .bigNumeberText{
        font-size: 0.8;
    }
    .bigNumeber{
        font-size: 3.5rem;
    }
    .footerContent{
        padding: 0px;
    }
    .profileName{
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-left: 30px;
        margin-block-start: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}