.centered{
    position:absolute;
    left:35%;
    top:20%;
    margin:0 auto;
    width: 30%;
    height: 400px;
}

.homeInput{
    margin: 5% !important;
    margin-top: 15% !important;
    width: 90%;
}

.homeButton{
    width: 50%;
    margin-top: 5% !important;
    left: 25%;
}

.homeImage{
    max-width: 100%;
}

@media (max-width: 700px) {
    .centered{
        width: 90%;
        left: 5%;
        top: 15%;
        height: 70%
    }

    .homeInput{
        margin: 5% !important;
        margin-top: 30% !important;
        width: 90%;
    }
}