.centered{
    position:absolute;
    left:40%;
    top:30%;
    margin:0 auto;
    width: 30%;
    margin-left:-50px;
    margin-top:-50px;
    height: 400px;
}

.homeInput{
    margin: 5% !important;
    margin-top: 15% !important;
    width: 90%;
}

.homeButton{
    width: 50%;
    margin-top: 5% !important;
    left: 25%;
}

.homeImage{
    max-width: 100%;
}