.loader {
    top: 40%;
    left: 45%;
    position: absolute;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #D0A310;
    border-bottom: 16px solid #D0A310;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  .loader-hide{
      display: none;
      z-index: -10;
  }

  .loader-show{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    height: 100%;
    z-index: 10;
    }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }